body {
    background: black;
    color: cyan;
    font-family: 'IBM Plex Mono',
        monospace;
}

.oneBusService {
    width: 40%;
    margin: 5px;
    padding: 20px;
    border: 2px solid cyan;
    text-align: center;
    display: inline-block;
}

.busService h1,
p {
    margin: 0;
    padding: 0;
}

.header h1 {
    margin: 0;
    padding: 0;
}

.busStopCodeP {
    font-size: 15px;
}

input {
    color: gray;
    background-color: black;
    border: 1px solid gray;
    padding: 10px;
}

button {
    color: black;
    background-color: aqua;
    border: 1px solid gray;
    padding: 10px;
}

.footer .container h6 {
    font-size: 10px;
}

a {
    color: cyan;
    text-decoration: underline;
}

.busStopCodeInput {
    width: 100%;
    color: cyan;
}

.submitButton {
    width: 100%;
}

::placeholder{
    color: cyan;
}

.emptyError{
    background: red;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: black;
    
}

.mainBody{
    padding: 30px 0;
}